//  lo que no sea global ni layout ni producto va aca.
@use 'variables' as vars;
@use 'mixin' as *;

// Hero
.hero {
    @include flex-column;
    justify-content: vars.$position-center;
    align-items: vars.$position-center;
    height: 100%;
    position: relative;
    text-align: vars.$position-center;
}

.hero-text {
    font-size: 26px;
}

.hero-text-mobile {
    font-size: 12px;
    margin-bottom: 0;
    display: inline-block;
    white-space: nowrap;
    animation: deplazamiento 10s linear infinite;
}

.marquee-container {
    width: 74%;
    overflow: hidden;
    position: relative;
}

// Whatsapp
.whatsapp-container {
    position: sticky;
    margin-left: auto;
    right: 0;
    bottom: 50%;
    padding: 12px;
    background-color: vars.$color-whatsapp-bg;
    width: 100px;
    border-radius: 4px;
    text-align: vars.$position-center;
    z-index: 100;
}

.whatsapp-icon {
    width: 50px;
}

@keyframes deplazamiento {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}