$font-family-roboto: 'Roboto', sans-serif;

$color-bg: #000;
$color-text: #fff;

$color-bg-footer: #111;

$color-link-hover: #6e6e6e;
$color-whatsapp-bg: #333;

$color-border: #ccc;

$color-bg-button: #fff;
$color-text-button: #000;
$border-radius-button: 8px;

$color-bg-product: #111;

$border-radius: 7px;

$font-weight-light: 200;
$font-weight-bold: bold;

$max-width-content: 1200px;

$position-center: center;