@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ----------------- Estilos globales -----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.6;
    background-image: url('../assets/img/hero-image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 0 40px;
}

main {
    flex: 1 0 auto;
}

footer {
    padding: 16px;
}

/* Links */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Listas */
ul {
    list-style: none;
    padding: 0;
}

/* ----------------- Header -----------------*/
.main-nav {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 20px;
    font-size: 26px;
}

.nav-link {
    color: #fff;
    font-weight: 200;
}

.nav-link:hover {
    color: #6e6e6e;
    text-decoration: none;
}

/*manera mas simple de cambiar el color del icono hamburguesa ya que 
es un background-image generado con un SVG embebido en CSS*/
.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-icons,
.right-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* Imágenes de íconos */
.top-bar img {
    width: 40px;
    cursor: pointer;
}

.top-bar .logo {
    width: 140px;
    height: auto;
}

h1,
.main-nav,
.hero-text,
.location-section,
.location-info {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* -------------------- Main --------------------*/
.main-content {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
}

h1 {
    text-align: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    text-align: center;
}

.hero-text {
    font-size: 26px;
}

.whatsapp-container {
    position: absolute;
    right: 0;
    bottom: 50%;
    padding: 12px;
    background-color: #333;
    width: 100px;
    border-radius: 4px;
    text-align: center;
}

.whatsapp-icon {
    width: 50px;
}

/* -------------------- Footer ------------------------*/
footer {
    background-color: #111;
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.footer-item img {
    width: 30px;
    height: 30px;
}

.footer-item p {
    margin: 0;
    font-size: 14px;
    color: #fff;
}

/* ------------------ Lista productos ------------------*/
.product-grid {
    padding: 40px;
}

.product-card {
    width: 280px;
    margin-bottom: 20px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-info {
    background-color: #111;
    color: #fff;
    padding: 4px 0;
    font-size: 12px;
}

/* ------------------ Ubicacion ------------------*/
.location-section {
    text-align: center;
    padding: 40px 20px;
}

.location-section p,
.location-info p {
    font-size: 20px;
}

.map-container {
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    height: 400px;
    border: 2px solid #fff;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.location-info {
    margin-top: 20px;
    font-size: 16px;
}

/* ------------------ Quienes somos ------------------*/
.quienes-somos {
    padding: 64px 32px;
    max-width: 900px;
    margin: auto;
}

/* ------------------ Contacto ------------------*/
form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

form input,
form textarea {
    width: 100%;
    padding: 12px 16px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

form textarea {
    min-height: 120px;
}

form button {
    margin-top: 20px;
    padding: 12px 16px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.contact-container {
    max-width: 1200px;
    margin: 0 auto;
}

.form-section {
    padding: 40px 0;
    min-width: 300px;
    max-width: 500px;
}

@media (max-width: 767px) {
    .mobile-title {
        text-align: center;
        padding-left: 40px;
        margin-bottom: 0;
    }

    .navbar .container-fluid {
        justify-content: start;
    }

    .nav-item .nav-link {
        font-size: 16px;
    }

    .top-bar .logo {
        width: 100px;
    }

    .top-bar .icon {
        width: 30px;
    }

   .footer-content {
        justify-content: center;
    }

    .footer-item {
        flex: 0 0 45%;
        max-width: 45%;
        box-sizing: border-box;
        text-align: center;
    }

    .whatsapp-container {
        width: 58px;
        height: 54px;
    }

    .hero-text {
        display: none;
    }

    .hero-text-mobile {
        font-size: 12px;
        margin-bottom: 0;
    }

    .whatsapp-icon {
        width: 33px;
    }

    .mobile-title {
        font-size: 19px;
        font-weight: 200;
    }
}

@media (min-width: 768px) {
    .hero-text-mobile {
        display: none;
    }

    .mobile-title {
        display: none;
    }
}